<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form>
  <label for="fname">email:</label><br>
  <input type="text" id="fname" name="fname" [(ngModel)]="email" ><br>

  <label for="lname">password:</label><br>
  <input type="text" id="lname" name="lname" [(ngModel)]="password" ><br><br>

  <button (click)="login()" >login</button>
</form>


<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Book Title</th>
    <th scope="col">Author</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let element of data; index as i">
    <th scope="row">{{element.title}}</th>
    <td>
      {{ element.author }}
    </td>
  </tr>
  </tbody>
</table>



</body>
</html>

